.firebolt-watch-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.firebolt-watch-image {
  top: 197px;
  left: 102px;
  width: 371px;
  height: 365px;
  position: absolute;
  object-fit: cover;
}
.firebolt-watch-text {
  top: 207px;
  left: 500px;
  width: 900px;
  position: absolute;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
}
.firebolt-watch-button {
  top: 480px;
  left: 705px;
}
.firebolt-watch-button1 {
  top: 476px;
  left: 905px;
}
.firebolt-watch-text04 {
  top: 367px;
  left: 793px;
}
.firebolt-watch-text06 {
  text-decoration: line-through;
}
.firebolt-watch-container1 {
  top: 682.7999877929688px;
  left: 50px;
  width: 957.1750183105469px;
  height: 284.1999969482422px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.firebolt-watch-text10 {
  top: 61px;
  right: 0px;
  position: absolute;
  align-self: flex-end;
}
.firebolt-watch-text25 {
  top: 61px;
  left: 451px;
  position: absolute;
}
.firebolt-watch-text39 {
  top: 61px;
  left: 180px;
}
.firebolt-watch-text54 {
  top: 61px;
  left: 50px;
}
.firebolt-watch-heading {
  top: 0px;
  left: 0px;
}
.firebolt-watch-header {
  top: 0px;
  left: 136px;
  position: absolute;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.firebolt-watch-navbar {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.firebolt-watch-container2 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.firebolt-watch-middle {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  justify-content: center;
}
.firebolt-watch-left {
  display: flex;
  grid-gap: 45px;
  position: relative;
  align-items: flex-start;
}
.firebolt-watch-text68 {
  text-decoration: none;
}
.firebolt-watch-logo-center {
  text-decoration: none;
}
.firebolt-watch-right {
  display: flex;
  grid-gap: 45px;
  position: relative;
  align-items: flex-start;
}
.firebolt-watch-icons {
  display: flex;
}
.firebolt-watch-image1 {
  width: 24px;
  height: 24px;
  margin: 0 24px 0 0;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.firebolt-watch-image2 {
  width: 24px;
  height: 24px;
  margin: 0 24px 0 0;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.firebolt-watch-image3 {
  width: 24px;
  height: 24px;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
