.iphone-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.iphone-image {
  top: 145px;
  left: 129px;
  width: 277px;
  height: 421px;
  object-fit: cover;
}
.iphone-text {
  top: 221px;
  left: 632px;
  position: absolute;
  font-size: 25px;
  align-self: flex-end;
  font-style: normal;
  font-weight: 500;
}
.iphone-text01 {
  top: 315px;
  left: 712px;
}
.iphone-text03 {
  text-decoration: line-through;
}
.iphone-text04 {
  text-decoration: line-through;
}
.iphone-button {
  top: 428px;
  left: 633px;
}
.iphone-button1 {
  top: 429px;
  left: 830px;
}
.iphone-container1 {
  top: 608px;
  left: 134px;
  width: 996.75px;
  height: 283.99998474121094px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.iphone-heading {
  top: 0px;
  left: 0px;
}
.iphone-text10 {
  top: 60.79998779296875px;
  left: 180px;
}
.iphone-text24 {
  top: 60.79998779296875px;
  left: 50px;
}
.iphone-text38 {
  top: 60.79998779296875px;
  left: 451px;
  position: absolute;
}
.iphone-text52 {
  top: 60.79998779296875px;
  right: 0px;
  position: absolute;
  align-self: flex-end;
}
.iphone-header {
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.iphone-navbar {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.iphone-container2 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.iphone-middle {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  justify-content: center;
}
.iphone-left {
  display: flex;
  grid-gap: 45px;
  position: relative;
  align-items: flex-start;
}
.iphone-text66 {
  text-decoration: none;
}
.iphone-logo-center {
  text-decoration: none;
}
.iphone-right {
  display: flex;
  grid-gap: 45px;
  position: relative;
  align-items: flex-start;
}
.iphone-icons {
  display: flex;
}
.iphone-image1 {
  width: 24px;
  height: 24px;
  margin: 0 24px 0 0;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.iphone-image2 {
  width: 24px;
  height: 24px;
  margin: 0 24px 0 0;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.iphone-image3 {
  width: 24px;
  height: 24px;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.iphone-burger-menu {
  display: none;
}
.iphone-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.iphone-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(100%);
  transition: 0.3s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.iphone-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.iphone-container3 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.iphone-logo-center1 {
  color: var(--dl-color-gray-black);
  height: auto;
  font-size: 24px;
  font-family: Jost;
  font-weight: 500;
  line-height: 20px;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  letter-spacing: 0.4em;
  text-decoration: none;
}
.iphone-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.iphone-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.iphone-middle1 {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  justify-content: center;
}
.iphone-text71 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.iphone-text72 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.iphone-text73 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.iphone-text74 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.iphone-text75 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.iphone-text76 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.iphone-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.iphone-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.iphone-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
